* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    font-family: 'Yeseva One', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 1 auto;
}
li {
    list-style-type: none;
}
/*--------------------------------------------------------header--------------------------------------------------------*/
.nav {
    background-color: #131313;
}
.container {
    max-width: 1266px;
    margin: 0 auto;
    padding: 10px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    min-height: 83px;
}
.logo a {
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    text-transform: uppercase;
}
.nav__list ul {
    display: flex;
    gap: 47.09px;
    font-size: 11px;
    line-height: 15px;
}
.nav__list a {
    color: #fff;
}
.nav__list a:hover {
    color: #E3B873;
}
.nav__contacts a {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 45px;
}
.main-bg {
    background-image: url(../img/bg.jpg);
    height: 707px;
}
/*--------------------------------------------------------button's--------------------------------------------------------*/
.btn-yellow {
    border-radius: 4px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    width: 161px;
    height: 37px;
    font-style: italic;
    font-size: 11px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: none;
}
.btn {
    border-radius: 4px;
    background: transparent;
    width: 161px;
    height: 37px;
    font-style: italic;
    font-size: 11px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}
/*--------------------------------------------------------block1--------------------------------------------------------*/
.main__title h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
}
.main__title span {
    color: #E3B873;
}
.main__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    margin: 19px 0px 41px 0px;
}
.offer {
    padding: 194px 0px 208px 0px;
}
.offer-btn {
    width: 207px;
    height: 51px;
}
.main__btn {
    display: flex;
    gap: 20px;
}
/*--------------------------------------------------------block2--------------------------------------------------------*/
.completed-projects {
    background-color: #131313;
}
.projects__info h2 {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    padding-top: 176px;
}
.projects__info_subtitle {
    font-size: 14px;
    line-height: 27px;
    color: #FFF;
    padding-top: 34px;
    max-width: 442px;
}
.projects__info_items {
    color: #FFF;
    padding-top: 42px;
    display: flex;
}
.projects__info_items h3 {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.projects__info_items p {
    padding-top: 9px;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.projects__info_items12 {
    padding-right: 64px;
}
.projects__info_item2 {
    padding-top: 34px;
}
.projects__info_item4 {
    padding-top: 55px;
}
.projects__info_items-bullets {
    display: flex;
    padding-top: 80px;
    gap: 30px;
}
.projects__photo_name {
    padding-top: 107px;
    gap: 60px;
    display: flex;
    color: #5a5a5a;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 53px;
}
.yellow {
    padding-bottom: 7px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
.projects-container {
    display: flex;
    gap: 55px;
    justify-content: center;
    min-height: 1074px;
}
.projects__photo_img {
    background-image: url(../img/img2.jpg);
    width: 679px;
    height: 482px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects__photo_img img {
    padding: 0 14px 0 14px;
    opacity: 0;
}
/*--------------------------------------------------------block3--------------------------------------------------------*/
.online-control {
    margin-top: -330px;
}
.online-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.online__title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}
.online__icons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0 30px 0;
}
.online__video_img {
    position: relative;
}
.online__video_img-mobile {
    display: none;
    position: relative;
}
.online__video_play {
    position: absolute;
    cursor: pointer;
    left: 340px;
    top: 150px;
}
.online__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    max-width: 655px;
}
.online__subtitle br {
    display: none;
}
.online__subtitle img {
    padding: 50px 0 20px 0;
}
.items {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    height: 25px;
    width: 231px;
}
.online__submit-form form {
    display: flex;
    max-width: 780px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.online__submit-form input::placeholder {
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.form-btn {
    margin-left: 50px;
    width: 200px;
    height: 51px;
}
.inputs {
    display: flex;
    gap: 58px;
}
.inputs label {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.online__submit-form p {
    padding-left: 7px;
    font-size: 14px;
    line-height: 163.68%;
}
.checkbox {
    position: relative;
    margin-top: 35px;
}
.checkbox__input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}
.checkbox__label {
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    padding-left: 25px;
    cursor: pointer;
}
.checkbox__label:before {
    content: '';
    border-radius: 1px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 1;
}
.checkbox__label:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/icons/check.svg) no-repeat;
    position: absolute;
    left: 5px;
    top: 7px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
}
.checkbox__input:checked+.checkbox__label:after {
    opacity: 1;
}
/*--------------------------------------------------------block4--------------------------------------------------------*/
.types-repair {
    padding-top: 148px;
}
.repair__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.repair__title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.repair__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 30px 0;
}
.repair__cards_item-wbg {
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.repair-btn {
    border-radius: 0;
    min-width: 228px;
    min-height: 54px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 31px;
    top: 576px;
    z-index: 2;
}
.mobile {
    display: none;
}
.repair__cards_item-wbg>div {
    padding: 0 0 0 34px;
}
.repair__cards_item-info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.repair__cards_item-info ul {
    padding: 15px;
}
.repair__cards_item-info li {
    list-style-type: disc;
}
.repair__cards_item-title>h4 {
    padding-top: 25px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
/*--------------------------------------------------------block4 - Position--------------------------------------------------------*/
.repair__cards_item {
    position: relative;
}
.repair__cards_item-img {
    position: relative;
    z-index: 0;
}
.repair__cards_item-wbg {
    position: absolute;
    z-index: 1;
    top: 301px;
    left: 31px;
}
/*--------------------------------------------------------block5--------------------------------------------------------*/
.request-bg-img {
    position: relative;
}
.request-bg-img img {
    position: absolute;
    left: -15px;
    top: 310px;
    z-index: -100;
}
.request__pluses {
    padding-top: 430px;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.request__pluses_item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.request__pluses_item p {
    padding-bottom: 10px;
    font-size: 14px;
}
.container-request {
    display: flex;
    justify-content: space-between;
}
.request__form_inputs {
    padding-top: 40px;
    background-color: #131313;
}
.request__form input {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    color: #fff;
}
form {
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.request__form form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.request__form_labels {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.request__form {
    background-color: #131313;
    width: 506px;
    height: 509px;
    color: #fff;
    font-size: 18px;
    line-height: 143.2%;
    margin-top: 440px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.request__form_inputs input::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.request__form>h4 {
    margin-top: 28px;
    text-align: center;
}
.checkbox__input2 {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}
.checkbox__label2 {
    font-size: 14px;
    line-height: 163.68%;
    color: #fff;
    padding-left: 25px;
    cursor: pointer;
}
.checkbox__label2:before {
    content: '';
    border-radius: 1px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.checkbox__label2:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/icons/check.svg) no-repeat;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
}
.checkbox__input2:checked+.checkbox__label2:after {
    opacity: 1;
}
.checkbox2 {
    position: relative;
    margin-top: 16px;
}
.request-btn {
    width: 213px;
    height: 51px;
    font-size: 13px;
    font-style: normal;
    border-radius: 0;
    margin: 32px 0 0 215px;
}
.request__form_img {
    padding: 110px 0 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.request__form_img p {
    font-family: 'Nunito Sans';
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    padding-bottom: 15px;
}
/*--------------------------------------------------------block6--------------------------------------------------------*/
.container-fantasies {
    display: flex;
    justify-content: space-between;
}
.fantasies {
    padding-top: 350px;
}
.fantasies-bg {
    background-image: url(../img/fantasies/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.fantasies__list h3 {
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 138px;
}
.fantasies__list ul {
    padding-top: 47px;
    list-style-type: none;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}
.fantasies__list li:first-child {
    margin-bottom: 25px;
    max-width: 150px;
    padding: 0;
}
.fantasies__list li {
    padding-bottom: 15px;
}
.fantasies__images {
    display: flex;
    gap: 43px;
}
.fantasies__images_12 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -40px;
}
.fantasies__images_34 {
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-top: -112px;
}
.fantasies__image_mobile {
    display: none;
}
/*--------------------------------------------------------block7--------------------------------------------------------*/
.clients {
    padding-top: 70px;
}
.clients__title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.clients__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 10px 0;
}
.clients__subtitle {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.clients__cards_item-title {
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    padding: 24px 0 0 20px;
}
.clients__cards_item-info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    padding: 27px 0 0 20px;
}
.clients__cards_item {
    background-color: #fff;
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.btn-clients {
    margin-top: 50px;
    border-radius: 0;
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    width: 294px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-lines {
    padding-left: 18px;
}
.days {
    padding-right: 25px;
}
.clients__cards {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.clients-bg {
    background-image: url(../img/clients/bg.svg);
    background-repeat: repeat-x;
    min-height: 995px;
    background-position: bottom center;
}
/*--------------------------------------------------------block8--------------------------------------------------------*/
.questions {
    margin-top: -260px;
}
.questions__form {
    background-color: #181818;
    width: 883px;
    min-height: 446px;
    margin: auto;
}
.questions__form_title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 35px 0 45px 0;
}
.questions__form_block form {
    width: 522px;
    height: 305px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.question {
    min-width: 496px;
}
.questions__form_block input {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.questions__form_block input::placeholder {
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.checkbox3 {
    position: relative;
}
.questions-btn {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 0;
    width: 200px;
    height: 51px;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
}
.checkbox__input3 {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}
.checkbox__label3 {
    font-size: 14px;
    line-height: 163.68%;
    color: #fff;
    padding-left: 25px;
    cursor: pointer;
}
.checkbox__label3:before {
    content: '';
    border-radius: 1px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.checkbox__label3:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/icons/check.svg) no-repeat;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
}
.checkbox__input3:checked+.checkbox__label3:after {
    opacity: 1;
}
/*--------------------------------------------------------block9--------------------------------------------------------*/
.map-bg {
    background-image: url(../img/map/bg.png);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    background-size: 100%;
    z-index: -1;
}
.map__item_mobile {
    display: none;
}
.container-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.map__title {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 260px;
}
.map {
    margin-top: -217px;
}
.map__icons {
    padding: 26px 0 26px 0;
}
.footer-container {
    min-height: 133px;
}
/*--------------------------------------------------------Media--------------------------------------------------------*/
@media (max-width: 1300px) {
    .container {
        max-width: 540px;
        align-items: center;
    }
    .btn-nav {
        display: none;
    }
    .nav__list ul {
        display: none;
    }
    .nav__contacts a {
        margin-right: 0;
    }
    .main__title h1 {
        font-size: 23px;
        line-height: 31px;
    }
    .offer {
        padding: 60px 0 0 0;
    }
    .main__subtitle {
        font-size: 14px;
        line-height: 19px;
    }
    .main__btn {
        flex-direction: column;
    }
    .offer-btn {
        width: 100%;
        border-radius: 0px;
    }
    .main-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-mobile.png);
        height: 476px;
    }
    .projects-container {
        flex-direction: column;
        gap: 0;
    }
    .projects__info h2 {
        padding-top: 36px;
        text-align: center;
        font-size: 22px;
        line-height: 30px;
    }
    .projects__info_subtitle {
        padding-top: 22px;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        max-width: 311px;
    }
    .projects__photo_name {
        display: none;
    }
    .projects__info_items-bullets {
        display: none;
    }
    .projects__photo_img {
        background-image: url(../img/img-mobile.png);
        background-repeat: no-repeat;
        background-position: 3px 0;
        margin-top: 36px;
        width: 340px;
        height: 241px;
    }
    .projects-container {
        min-height: 0;
    }
    .online-control {
        margin: 0 0;
        max-height: 850px;
    }
    .projects__info_items {
        padding: 42px 0 0 8px;
    }
    .projects__info_items h3 {
        font-size: 14px;
        line-height: 19px;
    }
    .projects__info_items p {
        font-size: 11px;
        line-height: 15px;
    }
    .projects__info_item4 {
        padding-top: 48px;
    }
    .projects__photo_img img {
        opacity: 1;
    }
    .online {
        background-color: #181818;
    }
    .nav {
        background-color: #181818;
    }
    .completed-projects {
        background-color: #181818;
    }
    .online-container {
        padding-top: 58px;
    }
    .online__title {
        font-size: 22px;
        line-height: 30px;
    }
    .online__video_img {
        display: none;
    }
    .online__video_img-mobile {
        display: block;
    }
    .online__video_play {
        left: 123px;
        top: 59px;
    }
    .online__subtitle img {
        padding: 29px 0 20px 0;
    }
    .online__subtitle {
        font-size: 11px;
        line-height: 169.8%;
        color: #fff;
        text-align: center;
    }
    .online__subtitle br {
        display: inline;
    }
    .inputs input {
        background-color: #181818;
        color: #FFF;
    }
    .inputs {
        flex-direction: column;
    }
    .inputs label {
        color: rgba(255, 255, 255, 0.5);
        font-size: 13px;
        line-height: 21px;
    }
    .online__submit-form form {
        flex-direction: column;
        margin-top: 50px;
        max-width: 340px;
    }
    .online__submit-form input::placeholder {
        font-size: 14px;
        line-height: 19px;
        color: #ffffff;
    }
    .items {
        width: 340px;
    }
    .form-btn {
        margin-left: 0;
        margin: 50px 0 0 0;
        border-radius: 0;
        width: 340px;
    }
    .checkbox {
        margin-top: 26px;
        padding-right: 50px;
    }
    .checkbox__label {
        color: #FFF;
    }
    .online__submit-button {
        order: 4;
    }
    .types-repair {
        padding-top: 58px;
    }
    .repair__cards_item-img {
        display: none;
    }
    .mobile {
        display: block;
        position: relative;
        z-index: 0;
    }
    .repair__cards {
        flex-direction: column;
        align-items: center;
        gap: 190px;
    }
    .repair__cards_item-wbg {
        left: 0;
        top: 226px;
        width: 270px;
        height: 250px;
    }
    .repair__cards_item-title>h4 {
        font-display: 15px;
        line-height: 21px;
    }
    .repair__cards_item-info {
        line-height: 22px;
    }
    .repair__cards_item-info ul {
        padding-top: 13px;
    }
    .repair-btn {
        min-width: 190px;
        min-height: 40px;
        font-size: 15px;
        line-height: 21px;
        left: 0;
        top: 455px;
    }
    .request {
        display: none;
    }
    .fantasies {
        padding-top: 150px;
    }
    .fantasies-bg {
        background-image: url(none);
    }
    .fantasies__list ul {
        display: none;
    }
    .fantasies__list h3 {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        padding-top: 0;
    }
    .container-fantasies {
        flex-direction: column;
    }
    .fantasies__images {
        display: none;
    }
    .fantasies__image_mobile {
        display: block;
        background-image: url(../img/fantasies/mobile.png);
        background-repeat: no-repeat;
        width: 340px;
        height: 242px;
        display: flex;
        align-items: center;
    }
    .clients {
        display: none;
    }
    .container-questions {
        min-height: 680px;
    }
    .questions {
        margin-top: -130px;
        background-color: #181818;
    }
    .questions__form {
        width: auto;
    }
    .questions__form_title {
        padding: 165px 0 45px 0;
    }
    .questions__form_block form {
        width: 340px;
    }
    .question {
        min-width: 340px;
    }
    .checkbox3 {
        padding-right: 50px;
        margin-top: -15px;
    }
    .questions-btn {
        width: 340px;
        height: 51px;
        margin-top: 15px;
    }
    .map {
        margin-top: 0;
    }
    .map__item {
        display: none;
    }
    .map__item_mobile {
        display: block;
    }
    .map-bg {
        background-image: url(none);
        background-color: #181818;
    }
    .map__title {
        order: 4;
        margin-top: 35px;
        font-size: 18px;
        line-height: 25px;
        max-width: 315px;
    }
    .map__title br {
        display: none;
    }
    .map__icons {
        order: 5;
    }
    footer {
        display: none;
    }
}